.header{
     border-bottom: 2px solid $color1;
     display: flex;
     justify-content: space-between;
     background-color: $color2;
     .header__logo{
          padding: 5px;
          margin-left: 50px;

          .header__logo-img{
               margin-left: 30px;
          }
          .header__logo-nombre{
               color: $color1;
               font-family: $fontdraco;
               font-size: 9px;
               margin-bottom: 20px;
             }     
               
     }
     .menu{
          display: flex;
          align-items: center;
          max-width: 1200px;
          margin: 0 200px;
          
          ul{
               display: flex;
               list-style-type: none;
               
               li{
                    margin: 0 5px 0 5px;
                    font-family: $fontrotunda;
                    font-size: 16px;
                    
                    a{
                         color: $color3;
                         text-decoration: none; 
                       }  
                       a:hover{
                         color: $color1;
                       }
                       .active{
                         text-decoration: underline;
                       }
               }
          }
     }
     .header__boton{
          display: none;
     }
}

@media (max-width:900px){
     .header{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .header__logo{
               margin: auto;
               padding: auto;
          }
          .menu{
               margin: 20px 0 50px 0;
          }
     }
}

@media (max-width:470px){
     .header{
          flex-direction: row;
          justify-content: space-between;

          .header__logo{
               margin: 0 0 0 30px;
          }
          .menu{
               display: none;
          }
          .header__boton{
               display: block;
               margin: 20px 60px 20px 0px;
               width: 50px;
               height: 50px;
          }
     }
}